/* --- base --- */
html {
  background-color: #041323;
  font-family: 'Sigmar One', cursive;
  overflow-x: hidden;
}
.overflow {
  overflow-y: hidden;
}
section {
  width: 100vw; 
}
h1{
  font-size: 3em;
  color: #fff;
  text-align: center;
  font-family: 'Bangers', cursive;
}

/* --- heading --- */
header {
  height: 100vh;
  width: 100vw;
  background-color: #B38282;
  transition: 0.25s ease-in-out;
}
.header__empty {
  height: 0vh;
}
.header__extended {
  height: 100vh;
  width: 100vw;
  transition: 0.25s ease-in-out;
}
.header__inner {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/header__pattern.svg);
  background-repeat: repeat;
  background-position: center;
  transition: background-image,height 0.25s ease-in-out;
}
.header__inner__empty {
  height: 0vh !important;
  transition: background-image,height 0.25s ease-in-out;
}
.header__inner2 {
  height: 100vh !important;
  transition: background-image,height 0.25s ease-in-out;
  
}
#img__logo {
  margin: 40px 0 0 40px;
}
#burger__menu {
  width: 60px;
  height: 45px;
  right: 0px;
  top: 0px;
  margin: 57.5px 50px 0 0;
  position: absolute;
  cursor: pointer;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav__toggle__hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.10s ease-in;
  }
  .nav__toggle__visible {
    opacity: 1;
    transition: 0.65s ease-out;
  }
  nav a {
    color: #fff;
    font-size: 3.5em;
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 25px 0;
    user-select: none;
  }

/* --- burger menu --- */
  #burger__menu span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #041323;
    opacity: 1;
    transition: .25s ease-in-out;
  }
  #burger__menu span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  #burger__menu span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  #burger__menu span:nth-child(1), #burger__menu span:nth-child(2) {
    top: 0px;
  }
  #burger__menu span:nth-child(3), #burger__menu span:nth-child(4) {
    top: 18px;
  }
  #burger__menu span:nth-child(5), #burger__menu span:nth-child(6) {
    top: 36px;
  }
  #burger__menu.open span:nth-child(1),#burger__menu.open span:nth-child(6) {
    transform: rotate(45deg);
  }
  #burger__menu.open span:nth-child(2),#burger__menu.open span:nth-child(5) {
    transform: rotate(-45deg);
  }
  #burger__menu.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  #burger__menu.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  } 
  #burger__menu.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  #burger__menu.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  #burger__menu.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  #burger__menu.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
  
/* --- main body --- */
/* carrousel */
#h1__latest {
 margin-top: 5vh;
}
#container__latest {
  text-align: center;
}
.link__latest__stories {
  margin-top: 5vh;
}
.container__latest__dots {
  text-align: center;
  margin-top: 5vh;
}
.prev, .next {
  cursor: pointer;
  position: relative;
  bottom: -180px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  user-select: none;
}
.next {
  right: -40%;
}
.prev {
  left: -40%;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  display: none;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}









/* filter */
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* --- Small devices (portrait tablets and large phones, 600px and up) --- */
@media only screen and (min-width: 600px) {
  /* --- heading --- */
  header {
    height: 66vh; 
  }
  .header__inner {
    height: 66vh;
  }
  /* --- main body --- */
  .prev, .next {
    top: 100%;
  }
}

/* --- Medium devices (landscape tablets, 768px and up) --- */
@media only screen and (min-width: 768px) {
  /* --- heading --- */
  header {
    height: 50vh; 
  }
  .header__inner {
    height: 50vh;
  }
   /* --- main body --- */
   .prev, .next {
    bottom: -170px;
  }
} 

/* --- Large devices (laptops/desktops, 992px and up) --- */
@media only screen and (min-width: 992px) {
 
} 

/*  --- Extra large devices (large laptops and desktops, 1200px and up) --- */
@media only screen and (min-width: 1200px) {
  /* --- main body --- */
  .prev, .next {
    bottom: -220px;
  }
}